header {
    background-color: black;
    text-emphasis-color: red;
}

body {
    background-color: black;
    color: rgb(112, 165, 15);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
  color: blue;
  text-decoration-line: underline;
  text-emphasis: bold;
}

h2 {
  color: antiquewhite;
}

h3 {
  color: red;
  text-align: center;
}

h4 {
  color: white;
}

title {
  text-emphasis: bold;
  text-decoration-line: underline;
  color: blue;
}

.main {
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

img {
  max-width: 40%;  
  height: 30%;  
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
  color: beige;
}

/* div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.c {
  text-align: justify;
} */


